<div class="container mt-4" *ngIf="user">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">About {{user.knownAs || user.username}}</h4>
        <p class="card-text">{{user.introduction || 'No introduction provided.'}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="user.gender">Gender: {{user.gender}}</li>
          <li class="list-group-item" *ngIf="user.city || user.country">Location: {{user.city}}, {{user.country}}</li>
          <li class="list-group-item" *ngIf="user.interests">Interests: {{user.interests}}</li>
          <li class="list-group-item" *ngIf="user.lookingFor">Looking for: {{user.lookingFor}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="text-center mt-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="about-profile">
  <h2>About Profile</h2>
  <!-- Add user profile details here -->
</div>